<div class="navbar-lewagon ">
<div class="container">
    <h1 id="welcome">Welcome to</h1>
    <h3 class="title">Mister Cocktail</h3>
    <ul class="nav">
     <li><a href="#">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </div>
     </div>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'my-cocktails'%>)">
     <p>Now is your chance to be creative and get drunk!</p>
    <p><%= link_to"Party ONðŸ¸" , cocktails_path, class:"btn btn-danger"  %></p>
  </div>

   <div class="footer">
   <div class="socials">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
             </div>
        <p class="bottom-footer">&copy; MrCocktail.com | Designed by Ely</p>
</div>

<!-- <script> document.querySelector('body').classList.add("background") </script>
 -->
