.banner {
  background-size: cover;
  background-position: center;
  padding: 190px 0;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr;
}

.banner h1 {
  margin: 0;
  color: rgb(254, 237, 215);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 10px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
