.cocktail-img {
  border-radius: 16px;
  border: 1px solid #ddd;
  align-items: center;

  h1 {
    color: pink;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
  }

  p {
    color: pink;
  }
}



//   h1 {
//     text-align: center;
//     font-size: 50px;
//     padding-top: 10px;
// }



