.footer {
   background-color: black;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    border-top: 1px solid #ddd;

    p {
        color:white;
        display: center;
    }
}

.socials {
  justify-content: space-between;
  & :hover {
    color: white;
    transition: all .1s;
    }
}

.bottom-footer {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
