.navbar-lewagon {
  justify-content: space-between;
  background: black;
   padding-bottom: 20px;
  h1 {
    color: pink;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  h3 {
    color: pink;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-style: oblique;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav {
  justify-content: space-between;
}

p {
  text-align: center;
}
