.search-form {
  display:flex;
  justify-content: center;
  margin-bottom: 1vh;
}

// form input
.search-input {
  background: transparent;
  border-color: rgba(254, 237, 215, 0.5);
  color: rgba(254, 237, 215, 0.5);
  border-right: none;
  border-radius: 0;
  &:focus {
    background: transparent;
    border-color: rgba(254, 237, 215, 0.5);
    color: rgba(254, 237, 215, 0.9);
    text-shadow: 0 0 0 0.2rem rgba(254, 237, 215, 0.1);
    // box-shadow: 0 0 0 0.2rem rgba(254, 237, 215, 0.1);
    box-shadow: none;
    &::placeholder {
      color: rgba(254, 237, 215, 0.9);
    }
  }
  &::placeholder {
    color: rgba(254, 237, 215, 0.5);
  }
}

// form button
.btn-search {
  background: transparent;
  color: rgba(254, 237, 215, 0.5);
  border-style: solid solid solid none;
  border-color: rgba(254, 237, 215, 0.5);
  border-radius: 0;
  &:hover {
    background-color: rgba(254, 237, 215, 0.7);
    // box-shadow: 0 0 0 0.2rem rgba(254, 237, 215, 0.1);
    box-shadow: none;
    color: black;
    border: none;
    margin-left: 0;
  }
}
