// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  background-color: rgba(34, 20, 8, 0.6);
}

.ml-2 {
  color: white;
}

.dropdown-toggle {
  display: flex;
}

.justify-content-center mt-3 {
  display: flex;

}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu {
  vertical-align: top;
}

.dropdown-menu-cont {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  width: 0px;
  padding: 0px;
}
.button {
  margin: 5px 10px;
}
