// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  background-color: rgba(34, 20, 8, 0.6);
}

.ml-2 {
  color: white;
}

.dropdown-toggle {
  display: flex;
}

.justify-content-center mt-3 {
  display: flex;

}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu {
  vertical-align: top;
}

.dropdown-menu-cont {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  width: 0px;
  padding: 0px;
}
.button {
  margin: 5px 10px;
}

.card-body {
   h1 {
    text-align: center;
    color: #167FFB;
  }

  p {
    color: #167FFB;
    text-align: center;
  }
}

.add-button {
  // justify-content: space-between;
  padding-right: 420px;
}

.navbar-dark .navbar-toggler {
   background: transparent;
  color: rgba(254, 237, 215, 0.5);
  border-style: solid solid solid none;
  border-color: rgba(254, 237, 215, 0.5);
  border-radius: 0;
  &:hover {
    background-color: rgba(254, 237, 215, 0.7);
    box-shadow: none;
     color: black;
    border: none;
    margin-left: 0;
  }
}

.btn-light {
  background-color: transparent;
}

.left-button {
  padding-left: 30px;
}

.carousel-item {
  width: 100%;
}
// a.btn.btn-light {
//    display: center;
//    justify-content: space-around;
// }
