// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  background-color: rgba(34, 20, 8, 0.6);
}

.ml-2 {
  color: white;
}

.dropdown-toggle {
  display: flex;
}
